.badge {
  display: inline-flex;
  align-items: center;
  background-color: #344148;
  padding: 0.6em 1.1em;
  border-radius: 8px;
  color: color-mix(in lab, oklch(100% 0 0) 80%, transparent);

  &:hover {
    background-color: #4d5a61;
  }
}

.badge img {
  height: 20px;
  max-width: 35px;
  padding-right: 8px;
  margin: 0;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  margin-bottom: 40px;
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);

  &[data-visible='true'] {
    opacity: 1;
  }
}
