.modal {
  z-index: 999;
  --backdrop: blur(24px) saturate(120%);

  position: fixed;
  inset: 0;
  background: color-mix(in lab, var(--background) 70%, transparent);
  transform: translate3d(0, -100%, 0);
  transition-property: background;
  transition-duration: var(--durationL);
  transition-timing-function: var(--bezierFastoutSlowin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: var(--backdrop);
  backdrop-filter: var(--backdrop);
  display: flex;

  @media (--mediaUseMotion) {
    transition-property: transform, background;
  }

  &[data-visible='true'] {
    transform: none;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #344148;
  color: color-mix(in lab, oklch(100% 0 0) 80%, transparent);

  padding: 20px;
  border-radius: 8px;
  max-width: 650px;
  width: 80%;

  position: relative;
  z-index: 1001; /* Ensure modal content is above the overlay */

  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--durationXL);
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-delay: var(--transitionDelay);
  top: calc(var(--spaceM) * -1);

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, calc(var(--spaceXL) * -1), 0);
  }

  @media (--mediaUseMotion) {
    &::after {
      transition: transform var(--durationM) var(--bezierFastoutSlowin);
    }
  }

  &[data-visible='true'] {
    opacity: 1;
    transform: none;
  }
}

.description {
  color: color-mix(in lab, oklch(100% 0 0) 80%, transparent);
  margin-bottom: var(--spaceM);
}
