@layer layout {
  .container {
    width: 100%;
    position: relative;
    transition: opacity 0.4s var(--bezierFastoutSlowin);
    opacity: 0;

    &[data-mounted='true'] {
      opacity: 1;
    }
  }

  .pageContent {
    overflow-x: hidden;
  }

  .skip {
    isolation: isolate;
    color: var(--background);
    z-index: var(--zIndex4);

    &:focus {
      padding: var(--spaceS) var(--spaceM);
      position: fixed;
      top: var(--spaceM);
      left: var(--spaceM);
      text-decoration: none;
      font-weight: var(--fontWeightMedium);
      line-height: 1;
      box-shadow: 0 0 0 4px var(--background), 0 0 0 8px var(--text);
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--primary);
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        0 100%
      );
      z-index: -1;
    }
  }

  .gridLines {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 0.15;
    z-index: var(--zIndexNeg1);

    /* base grid size */
    background-size: var(--space4XL) var(--space4XL);
    background-image: repeating-linear-gradient(
        0deg,
        var(--gridLinesColor),
        var(--gridLinesColor) 1px,
        transparent 1px,
        transparent var(--space4XL)
      ),
      repeating-linear-gradient(
        -90deg,
        var(--gridLinesColor),
        var(--gridLinesColor) 1px,
        transparent 1px,
        transparent var(--space4XL)
      );

    /* update grid size */
    @media only screen and (min-width: 2000px) {
      background-size: var(--space5XL) var(--space5XL);
      background-image: repeating-linear-gradient(
          0deg,
          var(--gridLinesColor),
          var(--gridLinesColor) 1px,
          transparent 1px,
          transparent var(--space5XL)
        ),
        repeating-linear-gradient(
          -90deg,
          var(--gridLinesColor),
          var(--gridLinesColor) 1px,
          transparent 1px,
          transparent var(--space5XL)
        );
    }

    /* update grid size */
    @media only screen and (min-width: 2500px) {
      background-size: var(--space6XL) var(--space6XL);
      background-image: repeating-linear-gradient(
          0deg,
          var(--gridLinesColor),
          var(--gridLinesColor) 1px,
          transparent 1px,
          transparent var(--space6XL)
        ),
        repeating-linear-gradient(
          -90deg,
          var(--gridLinesColor),
          var(--gridLinesColor) 1px,
          transparent 1px,
          transparent var(--space6XL)
        );
    }
  }
}
